html, div, map, dt, isindex, form, header, aside, section, article, footer {
    display: block;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    background: #F8F8F8;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Menu */
#navigator {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    opacity: 0.7;
    background: #000000/*rgba(52, 152, 219,0.7)*/;
    float: left;
    z-index: 10;
}

#navigator a {
    text-decoration: none;
    color: #3498db;
}

#nav {
    width: 250px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.nav_tab {
    width: 250px;
    height: 50px;
    display: block;
}

.nav_tab a p {
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
}

.nav_tab a p:hover {
    background: rgba(255,255,255,0.9);
    color: rgba(0,0,0,1);
    letter-spacing: 2px;
    transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
}

.menu-icon {
    width: 150px;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0px;
    margin: 10px;
    z-index: 10;
}

.menu-text {
    width: 50px;
    height: 35px;
    font-size: 30px;
    color: #e67e22;
    display: block;
    position: fixed;
    top: 0;
    left: 50px;
    margin: 10px;
    z-index: 9;
}

.menu-icon div {
    width: 40px;
    height: 5px;
    background: #e67e22;
    margin: 5px;
    transition: all 0.35s;
    border-radius: 2px;
}

.on .line_one { transform: rotate(45deg) translate(7px, 7px); }

.on .line_two { opacity: 0; }

.on .line_three { transform: rotate(-45deg) translate(7px, -7px); }

/* Header */
header {
    height: 55px;
    width: 100%;
    background: #222222 url("../images/header_bg.png") repeat-x;
}

header hgroup h1 a:hover {
    color: #77BACE;
}

header div.site_title, header h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
    width: 40%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

header h1.site_title a {
    color: #fff;
    text-decoration: none;
}

header h2.section_title {
    text-align: center;
    text-indent: 4.5%;
    width: 15%;
}

/* Content */
.content{
    width: 100%;
    height: 100%;
    background: #787878;
}

#image {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: inline-block;
}