<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="error">
    <Appenders>
        <JDBC name="databaseAppender" tableName="public.logs">
            <ConnectionFactory jndiName="jdbc/PostgreSQL" />
            <Column name="dt" isEventTimestamp="true"/>
            <Column name="logger" pattern="%level"/>
            <Column name="level" pattern="%logger"/>
            <Column name="message" pattern="%message"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level = "warn">
            <AppenderRef ref = "databaseAppender" />
        </Root>
    </Loggers>
</Configuration>
<!--
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
        <param name="driver" value="org.postgresql.Driver"/>
        <param name="url" value="jdbc:postgresql://localhost:5432/scada"/>
        <param name="user" value="postgres"/>
        <param name="password" value="cezet123"/>
        <param name="sql" value="INSERT INTO logs(l_id, dt, logger, level, message) VALUES(DEFAULT, '%d', '%C', '%p', '%m')"/>
        <layout class="org.apache.log4j.PatternLayout">
            &lt;!&ndash;<param name="ConversionPattern"&ndash;&gt;
                   &lt;!&ndash;value="INSERT INTO logs(l_id, dt, logger, level, message) VALUES(DEFAULT, '%d', '%C', '%p', '%m')"/>&ndash;&gt;
        </layout>
    </appender>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p[%-16.16t][%32.32c] - %m%n" />
        </layout>
    </appender>

    <logger name="ru.scada.modbusserver">
        <level value="INFO"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
        <appender-ref ref="DB"/>
    </logger>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="DB"/>
    </root>
</log4j:configuration>-->
