html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    background: #F8F8F8;
    font-size: 12px;
}

a:link, a:visited {
    color: #77BACE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
.header {
    height: 55px;
    width: 100%;
    background: #222222 url("../images/header_bg.png") repeat-x;
}

.header h1.site_title, .header h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
    width: 23%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

.header h1.site_title a {
    color: #fff;
    text-decoration: none;
}

.header h2.section_title {
    text-align: center;
    text-indent: 4.5%;
    width: 55%;
    /*background: url("../images/header_shadow.png") no-repeat left top;*/
}

/* Menu */
#navigator {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    opacity: 0.7;
    background: #000000 /*rgba(52, 152, 219,0.7)*/;
    float: left;
    z-index: 10;
}

#navigator a {
    text-decoration: none;
    color: #3498db;
}

#nav {
    width: 250px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.nav_tab {
    width: 250px;
    height: 50px;
    display: block;
}

.nav_tab a p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
}

.nav_tab a p:hover {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
}

.menu-icon {
    width: 150px;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 10;
}

.menu-text {
    width: 50px;
    height: 35px;
    font-size: 30px;
    color: #e67e22;
    display: block;
    position: fixed;
    top: 0;
    left: 50px;
    margin: 10px;
    z-index: 9;
}

.menu-icon div {
    width: 40px;
    height: 5px;
    background: #e67e22;
    margin: 5px;
    transition: all 0.35s;
    border-radius: 2px;
}

.on .line_one {
    transform: rotate(45deg) translate(7px, 7px);
}

.on .line_two {
    opacity: 0;
}

.on .line_three {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Main Content */
form {
    width: 70%;
    margin: 15%;
    /*margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;*/
    /*display: inline-block;*/
}

.form_style {
    width: 70%;
    margin: 15%;
    /*margin: 10px auto;*/
    /*max-width: 400px;*/
    /*padding: 20px 12px 10px 20px;*/
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form_style li {
    padding: 0;
    /*display: block;*/
    list-style: none;
    margin: 10%;
}

input[type=text] {
    background: url("../images/calendar.ico") no-repeat 6px;
    border: 1px solid #DADADA;
    /*margin-top : 10px;*/
    padding-left: 35px;
    width: 310px;
    height: 50px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    -moz-box-shadow: 0 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

input[type=submit] {
    font-family: "Open Sans", "Segoe UI", Arial, Verdana, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    position: relative;
    background: #FF8E41 url("../images/search.png") no-repeat 80px 22px;
    border: 0 none;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 306px;
    height: 63px;
    line-height: 62px;
    font-size: 23px;
    padding: 0 20px 0 0;
    /*margin: 0 auto 20px 15%;*/
    box-shadow: 0 1px 0 0 #BC5F10, 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 25%;
}

input[type=submit]:hover {
    background-color: #FFA353;
    transition: all 0.3s ease 0s;
}